body {
    background-color: #232327;
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

#info {
    margin: 100px auto 150px auto;
    max-width: 1000px;
}

h1 {
    text-align: left;
}

p {
    text-align: left;
}

#objects {
    margin: auto;
    position: relative;
}

#earth {
    margin-right: 100px;
}

#moon {
    position: absolute;
    top: 0%;
    right: 20%;
}